@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Inconsolata", sans-serif;
  overflow-x: hidden;
  font-size: 0.8rem;
}

/* Global */
:root {
  --bg-color: #222327;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-500: #6b7280;
  --gray-700: #374151;
  --gray-900: #030712;
  --red-300: #fca5a5;
  --red-500: #ef4444;
  --red-900: #7f1d1d;
  --red-950: #450a0a;
  --green-300: #86efac;
  --green-500: #22c55e;
  --green-700: #15803d;
  --green-900: #14532d;
  --lime-50: #f7feef;
  --yellow-300: #fcd34d;
  --yellow-500: #f59e0b;
  --yellow-700: #b45309;
  --yellow-900: #78350f;
  --white: #fff;
  --black: #000;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
  --border: 0.2rem solid rgba(0, 0, 0, 0.1);
  --outline: 0.1rem solid rgba(0, 0, 0, 0.1);
  --outline-hover: 0.2rem solid rgba(var(--black));
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: var(--white);
}

button {
  display: flex;
  gap: 1em;
  padding: 0.8em 2em;
  font-size: 1.5em;
  font-weight: 500;
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 0.5em;
  transition: all 0.3s ease;
}

button.primary {
  background-color: var(--red-500);
  color: var(--white);
}

button.primary:hover {
  background-color: var(--red-300);
}

button.secondary {
  background-color: var(--white);
  border: 1px solid var(--gray-300);
}

button.secondary:hover {
  background-color: var(--gray-300);
}

.error-msg {
  display: block;
  margin-top: 0.5em;
  border-radius: 2px;
  font-size: 1.3em;
  padding: 1em;
  background-color: var(--red-500);
  color: white;
}

.error-stmt {
  margin: 0.5em 0;
  display: block;
  min-width: 250px;
  border-radius: 2px;
  font-size: 1.3em;
  padding: 1em;
  background-color: var(--gray-500);
  color: white;
}

.success-msg {
  display: block;
  border-radius: 2px;
  font-size: 1.3em;
  padding: 1em;
  background-color: var(--green-500);
  color: white;
}

/* Navigation Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  min-width: 100vw;
  min-height: fit;
}

.header .bg-lime {
  display: block;
  background-Color: var(--lime-50);
  height: 2em;
}

.header .navbar {
  display: flex;
  width: 100%;
  height: 9em;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  background-color: var(--red-950);
  border-bottom: 2px solid var(--red-500);
  color: var(--white);
}

.header .navbar .nav-message {
  font-size: 3em;
  font-weight: 500;
}

.header .navbar .site-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header .navbar .site-logo .logo-wrapper {
  max-width: 9em;
}

.header .navbar .site-logo img {
  width: 100%;
  object-fit: cover;
}

.header .navbar .site-logo .logo-group .logo-title { 
  font-size: 3em;
  font-weight: 700;
}

.header .navbar .site-logo .logo-group .logo-desc {
  font-size: 1.5em;
}

.header .navbar .navbar-message {
  font-size: 2.5em;
  font-weight: 700;
}

.header .navbar .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6em;
}

.header .navbar .nav a {
  font-size: 2.5em;
  font-weight: 500;
  transition: all 0.3s ease;
}

.header .navbar .nav a:hover {
  color: var(--gray-300);
}

.header .navbar .user {
  cursor: pointer;
  background-color: var(--gray-300);
  display: flex;
  padding: 1em;
  gap: 1em;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.header .navbar .user .user-icon {
  min-width: 2em;
  min-height: 2em;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--red-500);
  font-size: 3em;
}

.header .navbar .user .fa-caret-down {
  color: var(--red-500);
  font-size: 1.5em;
}

/* Footer */
.footer {
  display: flex;
  max-height: 8em;
  position: sticky;
  bottom: 0px;
  left: 0px;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  background-color: var(--lime-50);
}

.footer .watermark {
  font-size: 1.5em;
  font-weight: 700;
  color: var(--red-950);
}

/* Landing Page */
/* Intro */
main .intro {
  margin-top: 88px;
  position: relative;
  height: calc(100vh - 88px);
  background-image: url('assets/images/background.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main .intro .intro-content {
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: calc(100vh - 88px);
  background-color: white;
  opacity: 0.9;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 3em;
  padding: 4em 2em;
}

main .intro .intro-content .message-group {
  display: grid;
  gap: 8em;
  width: 50%;
}

main .intro .intro-content .message-group header {
  font-size: 8em;
  font-weight: 900;
  color: var(--gray-500);
}

main .intro .intro-content .message-group .description {
  font-size: 5em;
  font-weight: 700;
  color: var(--gray-500);
}

main .intro .intro-content .message-group .description .hashtag {
  color: var(--red-500);
  font-size: inherit;
}

main .intro .intro-content .redirect {
  margin-top: 10em;
}

main .intro .intro-content .redirect button {
  font-size: 2em;
}

main .intro-content .logo {
  position: absolute;
  right: 0;
  width: 100em;
}

/* Pubmats */
main .pubmats {
  min-height: 100vh;
  background-color: var(--gray-500);
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 4em;
  padding: 0 4em;
}

main .pubmats .pubmat {
  position: relative; 
  height: 0; 
  padding-bottom: 100%;
  overflow: hidden;
}

main .pubmats .pubmat img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Login and Register Page */
.hero {
  margin-top: 88px;
  position: relative;
  height: calc(100vh - 116px);
  background-image: url('assets/images/background.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero .hero-content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: calc(100vh - 116px);
  background-color: white;
  opacity: 0.9;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 3em;
  padding: 4em 2em;
}

.hero .hero-content form {
  background-color: var(--white);
  padding: 2em;
  min-width: 15em;
  border: 1px solid var(--gray-300);
}

.hero .hero-content form .details {
  display: grid;
  gap: 3em;
  font-size: 1.2em;
  color: var(--gray-500);
}

.hero .hero-content form .details .desc {
  display: grid;
  gap: 0.5em;
}

.hero .hero-content form .details .desc .title {
  font-size: 2.5em;
  color: var(--red-950);
  font-weight: 800;
}

.hero .hero-content form .details .desc .description {
  font-size: 1.5em;
  font-weight: 500;
  color: var(--gray-700);
}

.hero .hero-content form .details .fields {
  display: grid;
  gap: 1.5em;
}

.hero .hero-content form .details .fields .field {
  display: grid;
  gap: 0.3em;
}

.hero .hero-content form .details .fields .field label {
  font-size: 1.5em;
  color: var(--gray-700);
  font-weight: 500;
}

.hero .hero-content form .details .fields .field input {
  padding: 0.8em 0.5em;
  font-size: 1.5em
}

.hero .hero-content form .details .redirect {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 0.5em;
}

.hero .hero-content form .details .redirect .text {
  color: var(--gray-700);
  font-size: 1.5em;
  font-weight: 500;
}

.hero .hero-content form .details .redirect a {
  color: var(--red-500);
  font-size: 1.5em;
  font-weight: 700;
}

.hero .hero-content form .details .redirect a:hover {
  text-decoration: underline;
}

.hero .hero-content form .details .actions {
  display: grid;
  width: 100%;
}

.hero .hero-content form .details .actions button {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* Search and Inquiry */
.search-container {
  margin-top: 88px;
  position: relative;
  min-height: calc(100vh - 116px);
  padding: 0 2em;
  display: flex;
}

.search-container .filters {
  border: 1px solid var(--gray-300);
  border-top: 0;
  border-bottom: 0;
  flex-basis: 15%;
}

.search-container .search {
  flex-basis: 85%;
  width: 100%;
  border-right: 1px solid var(--gray-300);
}

/* Filters */
.search-container .filters .filters-header {
  padding: 1.5em 2.2em;
  border-bottom: 1px solid var(--gray-300);
  display: flex;
  justify-content: justify-start;
  align-items: center;
  gap: 1em;
}

.search-container .filters .filters-header .fa-filter {
  color: var(--red-950);
  font-size: 2.5em;
}

.search-container .filters .filters-header header {
  font-size: 2em;
  font-weight: 700;
  color: var(--red-950);
}

.search-container .filters .filters-group .filters {
  border: none;
}

.search-container .filters .filters-group .filters .filter {
  padding: 1.5em 2.2em;
  border-bottom: 1px solid var(--gray-300);
  border-left: 0;
  border-right: 0;
  display: grid;
  gap: 0.5em;
}

.search-container .filters .filters-group .filters .filter label {
  font-size: 1.8em;
  font-weight: 700;
  color: var(--gray-700);
}

.search-container .filters .filters-group .filter .form-control,
.search-container .filters .filters-group .filter .form-control select
.search-container .filters .filters-group .filter .form-control select option {
  padding: 0.8em 0.5em;
  font-size: 1.5em;
}

.search-container .filters .filters-group .actions {
  padding: 1.5em 2.2em;
  display: flex;
  min-width: 100%;
}

.search-container .filters .filters-group .actions button {
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: inherit;
}

/* Search Content */
.search-container .search .search-header {
  padding: 1.7em 2.2em;
  border-bottom: 1px solid var(--gray-300);
}

.search-container .search .search-header header {
  font-size: 2em;
  font-weight: 700;
  color: var(--red-950);
}

.search-container .search .search-wrapper {
  width: inherit;
  padding: 1em;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
}

.search-container .search .search-wrapper .search-content {
  padding: 1.5em;
  min-width: 15em;
  color: var(--gray-900);
  display: grid;
  gap: 2em;
  border: 1px solid var(--gray-300);
  transition: all 0.3s ease;
  cursor: pointer;
}

.search-container .search .search-wrapper .search-content:hover {
  transform: scale(1.01);
}

.search-container .search .search-wrapper .search-content .bank-name {
  font-size: 1.8em;
  font-weight: 700;
  color: inherit;
}

.search-container .search .search-wrapper .search-content .address {
  display: grid;
  gap: 0.1em;
  color: inherit;
  font-size: 1.5em;
}

.search-container .search .search-wrapper .search-content .address .location,
.search-container .search .search-wrapper .search-content .address .region {
  font-size: inherit;
  font-weight: 500;
  color: var(--gray-900);
}

.search-container .search-wrapper .search-content .extra-details {
  display: grid;
  gap: 0.1em;
  color: inherit;
  font-size: 1.5em;
}

.search-container .search-wrapper .search-content .extra-details .date-and-time,
.search-container .search-wrapper .search-content .extra-details .contact {
  display: grid;
  gap: 0.1em;
  color: inherit;
  font-size: inherit;
  font-weight: 500;
  color: var(--gray-900);
}

.search-container .search-wrapper .search-content .blood-types {
  display: grid;
  gap: 0.5em;
  color: var(--red-500);
  font-size: 1.5em;
}

.search-container .search-wrapper .search-content .blood-types .blood-header {
  font-size: inherit;
  font-weight: 700;
  color: inherit;
}

.search-container .search-wrapper .search-content .blood-types .blood-group {
  display: flex;
  gap: 1em;
  justify-content: justify-start;
  align-items: center;
}

.search-container .search-wrapper .search-content .blood-types .blood-group .blood {
  padding: 0.2em 0.5em;
  border: 1px solid var(--red-500);
  font-size: 3em;
  font-weight: 900;
}

/* Logged Hamburger */
.user-pop {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 1em;
  top: 90px;
  right: -200%;
  z-index: 10;
  max-width: 360px;
  border: 1px solid var(--gray-300);
  background-color: var(--white);
  transition: all .3s ease;
}

.logged.active {
  right: 0.8%;
}

.user-pop .user-content a {
  color: var(--gray-900);
  display: block;
  font-size: 1.5em;
  padding: 1em 1.5em;
  transition: all 0.3s ease;
  font-weight: 700;
}

.user-pop .user-content a:hover {
  background-color: var(--gray-300);
}

/* User Profile */
.user-profile {
  margin-top: 88px;
  position: relative;
  min-height: calc(100vh - 116px);
  display: flex;
  flex-direction: column;
}

.user-profile form {
  width: 100%;
}

.user-profile form .header-wrapper {
  padding: 2.5em 2em;
  border-bottom: 1px solid var(--gray-300);
  display: grid;
  gap: 2em;
}

.user-profile form .header-wrapper .group {
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.user-profile form .header-wrapper .title {
  font-size: 2em;
  font-weight: 700;
  color: var(--red-950);
}

.user-details {
  padding: 2.5em 2em;
  display: flex;
  justify-content: justify-start;
  border-bottom: 1px solid var(--gray-300);
  align-items: center;
}

.user-details .title {
  flex-basis: 20%;
  font-size: 2em;
  color: var(--gray-900);
  font-weight: 700;
}

.user-details .groups {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  gap: 4em;
}

.user-details .groups .group {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--gray-300);
  border-radius: 2px;
}

.user-details .groups .group label {
  font-size: 1.5em;
  border-right: 1px solid var(--gray-300);
  padding: 1em;
  font-weight: 500;
}

.user-details .groups .group input {
  border: none;
  outline: none;
  padding: 1em;
  font-weight: 700;
  font-size: 1.5em;
}

.user-details .user-group {
  flex-basis: 20%;
  color: var(--gray-900);
  font-weight: 700;
  display: grid;
  gap: 0.5em;
}

.user-details .user-group .title{
  flex-basis: 0;
}

.user-details .user-group .description {
  font-size: 1.5em;
  color: var(--gray-500);
}

.user-details .groups .user-icon {
  width: 3em;
  height: 3em;
  display: grid;
  place-content: center;
  background-color: var(--gray-300);
  color: var(--gray-700);
  font-weight: 700;
  border-radius: 100%;
  font-size: 5em;
}

/* Reviews */
.reviews-container {
  margin-top: 88px;
  position: relative;
  min-height: calc(100vh - 116px);
  padding: 0 2em;
  display: flex;
}

.reviews-container .search {
  border: 1px solid var(--gray-300);
  border-top: 0;
  border-bottom: 0;
  flex-basis: 15%;
}

.reviews-container .content-container {
  flex-basis: 85%;
  width: 100%;
  border-right: 1px solid var(--gray-300);
}

/* Search */
.reviews-container .search .search-header {
  padding: 1.5em 2.2em;
  border-bottom: 1px solid var(--gray-300);
  display: flex;
  justify-content: justify-start;
  align-items: center;
  gap: 1em;
}

.reviews-container .search .search-header .fa-magnifying-glass {
  color: var(--red-950);
  font-size: 2.5em;
}

.reviews-container .search .search-header header {
  font-size: 2em;
  font-weight: 700;
  color: var(--red-950);
}

.reviews-container .search .filters-group .filters {
  border: none;
}

.reviews-container .search .filters-group .filters .filter {
  padding: 1.5em 2.2em;
  border-bottom: 1px solid var(--gray-300);
  border-left: 0;
  border-right: 0;
  display: grid;
  gap: 0.5em;
}

.reviews-container .search .filters-group .filters .filter label {
  font-size: 1.8em;
  font-weight: 700;
  color: var(--gray-700);
}

.reviews-container .search .filters-group .filter .form-control {
  width: 100%;
}

.reviews-container .search .filters-group .filter .form-control,
.reviews-container .search .filters-group .filter .form-control select
.reviews-container .search .filters-group .filter .form-control select option {
  padding: 0.8em 0.5em;
  font-size: 1.5em;
}

.reviews-container .search .filters-group .actions {
  padding: 1.5em 2.2em;
  display: flex;
  min-width: 100%;
}

.reviews-container .search .filters-group .actions button {
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: inherit;
}

/* Reviews Content */
.reviews-container .content-container .search-header {
  padding: 1.7em 2.2em;
  border-bottom: 1px solid var(--gray-300);
  display: flex;
  justify-content: justify-start;
  align-items: center;
  gap: 1em;
}

.reviews-container .content-container .search-header header {
  font-size: 2em;
  font-weight: 700;
  color: var(--red-950);
}

.reviews-container .content-container .content-group {
  padding: 2em;
  display: grid;
  gap: 3em;
}

.reviews-container .content-container .content-group .bank-details {
  display: grid;
  gap: 2em;
}

.reviews-container .content-container .content-group .bank-details header {
  font-size: 5em;
  color: var(--red-500);
  font-weight: 700;
}

.reviews-container .content-container .content-group .bank-details .details-section {
  display: flex;
  justify-content: space-between;
  align-items: justify-start;
}

.reviews-container .content-container .content-group .bank-details .details-section .detail {
  display: grid;
  gap: 1em;
}

.reviews-container .content-container .content-group .bank-details .details-section .detail .group {
  display: flex;
  align-items: center;
  gap: 1em;
}

.reviews-container .content-container .content-group .bank-details .details-section .detail .group .icon {
  font-size: 2.5em;
}

.reviews-container .content-container .content-group .bank-details .details-section .detail .group .text-group {
  display: grid;
  gap: 0.5em;
}

.reviews-container .content-container .content-group .bank-details .details-section .detail .group .text-group > * {
  font-size: 2em;
  font-weight: 500;
  color: var(--gray-900);
}

.reviews-container .content-container .content-group .bank-details .details-section .blood-types {
  display: grid;
  justify-content: justify-end;
  align-items: right;
  text-align: right;
}

.reviews-container .content-container .content-group .bank-details .details-section .blood-types .title {
  font-size: 2em;
  color: var(--red-500);
  font-weight: 700;
}

.reviews-container .content-container .content-group .bank-details .details-section .blood-types .blood-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  justify-content: justify-end;
}

.reviews-container .content-container .content-group .bank-details .details-section .blood-types .blood {
  padding: 0em 0.5em;
  max-width: 5em;
  border: 1px solid var(--red-500);
  color: var(--red-500);
  font-size: 4em;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews-container .reviews {
  display: grid;
  justify-content: justify-start;
  align-items: center;
}

.reviews-container .reviews .reviews-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--gray-300);
}

.reviews-container .reviews .reviews-header header {
  padding: 1em 0;
  font-size: 2em;
  font-weight: 700;
  color: var(--gray-900);
}

.reviews-container .reviews .review {
  display: flex;
  gap: 0.5em;
  padding: 1em 0;
  min-width: 100%;
}

.reviews-container .reviews .review .user {
  flex-basis: 20%;
  display: flex;
  gap: 1em;
}

.reviews-container .reviews .review .review-message {
  flex-basis: 80%;
}

/* User Detail*/
.reviews-container .reviews .review .user .user-icon {
  width: 2em;
  height: 2em;
  font-size: 4em;
  background-color: var(--red-500);
  color: var(--white);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews-container .reviews .review .user .user-group {
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.reviews-container .reviews .review .user .user-group .date {
  font-size: 1.8em;
  color: var(--gray-500);
  font-weight: 500;
}

.reviews-container .reviews .review .user .user-group .username {
  font-size: 2em;
  color: var(--gray-900);
  font-weight: 700;
}

/* Review Message */
.reviews-container .reviews .reviews-section {
  display: grid;
  gap: 1em;
}

.reviews-container .reviews .reviews-section .no-reviews {
  font-size: 2em;
  margin-top: 1em;
  color: var(--gray-900);
}

.reviews-container .reviews .review .review-message {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.reviews-container .reviews .review .review-message .stars-container {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.reviews-container .reviews .review .review-message .stars-container .star {
  font-size: 2em;
  color: var(--yellow-500);
}

.reviews-container .reviews .review .review-message .stars-container .rating {
  font-size: 2em;
  color: var(--yellow-500);
  font-weight: 700;
}

.reviews-container .reviews .review .review-message .description {
  font-size: 1.8em;
  color: var(--gray-900);
  font-weight: 700;
}

/* Pop up rating */
.rating-pop {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  min-height: 100vh;
  margin: 0 1em;
}

.rating-pop.active {
  display: flex;
}

.rating-pop .wrapper {
  max-width: 440px;
  background-color: var(--white);
  border: 1px solid var(--grey-300);
}

.rating-pop form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.rating-pop .rating-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--grey-300);
  padding: 1em;
}

.rating-pop .rating-header .exit {
  cursor: pointer;
}

.rating-pop .rating-header .title {
  font-size: 2rem;
  font-weight: 500;
}

.rating-pop .rating-header .fa-xmark {
  font-size: 1.7rem;
}

.rating-pop .rating-description {
  padding: 1em 1.5em;
}

.rating-pop .rating-desc {
  font-size: 1.5rem;
  color: var(--yellow-500);
}

.rating-pop .rating-select {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5em;
}

.rating-pop .rating-select .title {
  font-size: 1.8rem;
  font-weight: 500;
}

.rating-pop .rating-select .rate {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

.rating-pop .rating-select .rate .radio {
  display: flex;
  gap: 1em;
  overflow: hidden;
}

.rating-pop .rating-select .rate .radio-input {
  display: none;
}

.rating-pop .rating-select .rate .radio-label {
  font-size: 1.5rem;
  color: var(--dark-color);
  background-color: var(--white);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.1s ease;
}

.rating-pop .rating-select .rate .fa-star {
  color: var(--grey-500);
  font-size: 2.5rem;
  cursor: pointer;
}

.rating-pop .rating-select .rate .fa-star:hover {
  color: var(--yellow-500);
}

.rating-pop .rating-select .rate .radio-input:checked+.radio-label .fa-star {
  color: var(--yellow-500);
}

.rating-pop .rating-header .rating-desc {
  font-size: 1.7rem;
  color: var(--yellow-500);
}

.rating-pop .field {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

.rating-pop .field label {
  font-size: 1.5rem;
}

.rating-pop .field input {
  padding: 1em;
}

.rating-pop .field textarea {
  resize: none;
  min-height: 120px;
  padding: 1em;
  font-size: 1.5em;
}

.rating-pop .actions {
  display: flex;
  justify-content: right;
}

.rating-pop .actions button {
  padding: 1em 2em;
  cursor: pointer;
  background-color: var(--yellow-500);
  border: 1px solid var(--yellow-500);
  color: var(--white);
  transition: all .3s ease;
}

.rating-pop .actions button:hover {
  background-color: var(--white);
  color: var(--yellow-500);
}

/* Bank Map */
.bank-map {
  display: flex;
  margin-top: 88px;
  position: relative;
  min-height: calc(100vh - 116px);
  padding: 0 2em;
  display: flex;
}

.bank-map .bank-details {
  flex-basis: 20%;
}

.bank-map .map {
  flex-basis: 80%;
  overflow: hidden;
}
/* Map */
/* .bank-map iframe {
  width: 100%;
  height: 300;
  border: 0; 
} */

/* Bank Details */
.bank-map .bank-details {
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.bank-map .bank-details .details-section {
  display: grid;
  gap: 2em;
}

.bank-map .bank-details header {
  font-size: 3em;
  font-weight: 700;
  color: var(--red-500);
}

.bank-map .bank-details .details-section .detail {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.bank-map .bank-details .details-section .detail .group {
  display: flex;
  align-items: center;
  gap: 1em;
}

.bank-map .bank-details .details-section .detail .group .icon {
  font-size: 2em;
}

.bank-map .bank-details .details-section .detail .group .text-group {
  display: grid;
  gap: 0.5em;
}

.bank-map .bank-details .details-section .detail .group .text-group > * {
  font-size: 1.7em;
  font-weight: 500;
  color: var(--gray-900);
}

.bank-map .bank-details .details-section .blood-types {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.bank-map .bank-details .details-section .blood-types .title {
  font-size: 2em;
  color: var(--red-500);
  font-weight: 700;
}

.bank-map .bank-details .details-section .blood-types .blood-group {
  display: flex;
  gap: 1em;
  align-items: center;
}

.bank-map .bank-details .details-section .blood-types .blood {
  padding: 0.2em 0.5em;
  border: 1px solid var(--red-500);
  color: var(--red-500);
  font-size: 3em;
  font-weight: 900;
}

.bank-map .bank-details .map-functions {
  display: grid;
  gap: 1em;
}

.bank-map .bank-details .map-functions header {
  font-size: 2em;
}

.bank-map .bank-details input {
  display: flex;
  gap: 1em;
  padding: 0.8em 2em;
  font-size: 1.5em;
  font-weight: 500;
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 0.5em;
  transition: all 0.3s ease;
  border: 1px solid var(--gray-300);
  background-color: var(--white);
}

.bank-map .bank-details input:hover {
  background-color: var(--gray-300);
}