@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Inconsolata", sans-serif;
  overflow-x: hidden;
  font-size: 0.8rem;
}

/* Global */
:root {
  --bg-color: #222327;
  --gray-300: #d1d5db;
  --gray-500: #6b7280;
  --gray-700: #374151;
  --gray-900: #030712;
  --red-300: #fca5a5;
  --red-500: #ef4444;
  --red-900: #7f1d1d;
  --red-950: #450a0a;
  --lime-50: #f7feef;
  --white: #fff;
  --black: #000;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
  --border: 0.2rem solid rgba(0, 0, 0, 0.1);
  --outline: 0.1rem solid rgba(0, 0, 0, 0.1);
  --outline-hover: 0.2rem solid rgba(var(--black));
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: var(--white);
}

button {
  display: flex:
  gap: 1em;
  padding: 0.8em 2em;
  font-size: 1.5em;
  font-weight: 500;
  border: none;
  cursor: pointer;
  border-radius: 0.5em;
  transition: all 0.3s ease;
}

button.primary {
  background-color: var(--red-500);
  color: var(--white);
}

button.primary:hover {
  background-color: var(--red-300);
}

/* Navigation Header */
.header {
  min-width: 100vw;
  min-height: fit;
}

.header .bg-lime {
  display: block;
  background-Color: var(--lime-50);
  height: 2em;
}

.header .nav {
  display: flex;
  width: 100%;
  height: 9em;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  background-color: var(--red-950);
  border-bottom: 2px solid var(--red-500);
  color: var(--white);
};

.nav .site-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav .site-logo .logo-wrapper {
  max-width: 5em;
}

.nav .site-logo img {
  width: 100%;
  object-fit: cover;
}

.nav .site-logo .logo-group .logo-title { 
  font-size: 2em;
  font-weight: 700;
}

.nav .nav-message {
  font-size: 2.5em;
  font-weight: 700;
}

/* Footer */
.footer {
  display: flex;
  max-height: 8em;
  position: sticky;
  bottom: 0px;
  left: 0px;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  background-color: var(--lime-50);
}

.footer .watermark {
  font-size: 1.5em;
  font-weight: 700;
  color: var(--red-950);
}

/* Landing Page */
/* Intro */
main .intro {
  position: relative;
  height: calc(100vh - 88px);
  background-image: url('assets/images/background.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main .intro .intro-content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: calc(100vh - 88px);
  background-color: white;
  opacity: 0.9;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 3em;
  padding: 4em 2em;
}

main .intro .intro-content .message-group {
  display: grid;
  gap: 8em;
  width: 50%;
}

main .intro .intro-content .message-group header {
  font-size: 8em;
  font-weight: 900;
  color: var(--gray-500);
}

main .intro .intro-content .message-group .description {
  font-size: 5em;
  font-weight: 700;
  color: var(--gray-500);
}

main .intro .intro-content .message-group .description .hashtag {
  color: var(--red-500);
  font-size: inherit;
}

main .intro .intro-content .redirect {
  margin-top: 10em;
}

main .intro .intro-content .redirect button {
  font-size: 2em;
}

main .intro-content .logo {
  position: absolute;
  right: 0;
  width: 100em;
}

/* Pubmats */
main .pubmats {
  min-height: 100vh;
  background-color: var(--gray-500);
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 4em;
  padding: 0 4em;
}

main .pubmats .pubmat {
  position: relative; 
  height: 0; 
  padding-bottom: 100%;
  overflow: hidden;
}

main .pubmats .pubmat img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Login and Register Page */
.hero {
  position: relative;
  height: calc(100vh - 116px);
  background-image: url('assets/images/background.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero .hero-content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: calc(100vh - 116px);
  background-color: white;
  opacity: 0.9;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 3em;
  padding: 4em 2em;
}

.hero .hero-content form {
  background-color: var(--white);
  padding: 2em;
  min-width: 15em;
  border: 1px solid var(--gray-300);
}

.hero .hero-content form .details {
  display: grid;
  gap: 3em;
  font-size: 1.2em;
  color: var(--gray-500);
}

.hero .hero-content form .details .desc {
  display: grid;
  gap: 0.5em;
}

.hero .hero-content form .details .desc .title {
  font-size: 2.5em;
  color: var(--red-950);
  font-weight: 800;
}

.hero .hero-content form .details .desc .description {
  font-size: 1.5em;
  font-weight: 500;
  color: var(--gray-700);
}

.hero .hero-content form .details .fields {
  display: grid;
  gap: 1.5em;
}

.hero .hero-content form .details .fields .field {
  display: grid;
  gap: 0.3em;
}

.hero .hero-content form .details .fields .field label {
  font-size: 1.5em;
  color: var(--gray-700);
  font-weight: 500;
}

.hero .hero-content form .details .fields .field input {
  padding: 0.8em 0.5em
}

.hero .hero-content form .details .redirect {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 0.5em;
}

.hero .hero-content form .details .redirect .text {
  color: var(--gray-700);
  font-size: 1.5em;
  font-weight: 500;
}

.hero .hero-content form .details .redirect a {
  color: var(--red-500);
  font-size: 1.5em;
  font-weight: 700;
}

.hero .hero-content form .details .redirect a:hover {
  text-decoration: underline;
}

.hero .hero-content form .details .actions {
  display: grid;
}