@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Inconsolata", sans-serif;
  overflow-x: hidden;
  font-size: 0.8rem;
}

/* Global */
:root {
  --bg-color: #222327;
  --gray-300: #d1d5db;
  --gray-500: #6b7280;
  --gray-900: #030712;
  --red-300: #fca5a5;
  --red-500: #ef4444;
  --red-900: #7f1d1d;
  --red-950: #450a0a;
  --lime-50: #f7feef;
  --white: #fff;
  --black: #000;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
  --border: 0.2rem solid rgba(0, 0, 0, 0.1);
  --outline: 0.1rem solid rgba(0, 0, 0, 0.1);
  --outline-hover: 0.2rem solid rgba(var(--black));
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
}

button {
  display: flex:
  gap: 1em;
  padding: 1em 2.5em;
  font-size: 1.5em;
  font-weight: 500;
  border: none;
  cursor: pointer;
  border-radius: 0.5em;
  transition: all 0.3s ease;
}

button.primary {
  background-color: var(--red-500);
  color: var(--white);
}

button.primary:hover {
  background-color: var(--red-300);
}

/* Navigation Header */
.header {
  min-width: 100vw;
}

.header .bg-lime {
  display: block;
  background-Color: var(--lime-50);
  height: 2em;
}

.header .nav {
  display: flex;
  width: 100%;
  height: 9em;
  justify-content: space-between;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
  background-color: var(--red-950);
  border-bottom: 2px solid var(--red-500);
  color: var(--white);
};

.nav .site-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav .site-logo .logo-wrapper {
  max-width: 5em;
}

.nav .site-logo img {
  width: 100%;
  object-fit: cover;
}

.nav .site-logo .logo-group .logo-title { 
  font-size: 2em;
  font-weight: 700;
}

.nav .nav-message {
  font-size: 2.5em;
  font-weight: 700;
}